<launch>

    <param name="robot_name" value="sim01" />

    <node name="check_obstacle_safety_with_parameters" pkg="miro" type="check_obstacle_safety_with_parameters.py" />
    
    <node name ="new_obstacle_detection_only_flags" pkg="miro" type="new_obstacle_detection_only_flags.py" />

    <node name="odometry_publisher_with_parameters" pkg="miro" type="odometry_publisher_with_parameters.py" />

    <node name="obstacle_avoidance_with_parameters2" pkg="miro" type="obstacle_avoidance_with_parameters2.py" > 
      <param name="drive_pattern" value="obstacle_avoidance" />
      <param name="x_threshold" value="0.2" />
      <param name="y_threshold" value="0.05" />
    </node>

 <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch rqt_plot  -->
    <node name="rqt_plot_position" pkg="rqt_plot" type="rqt_plot"
    args="/odom/pose/pose/position" />

</launch>
