<launch>

<!-- ROBOT NAME --> 
    <param name="/robot_name" value="sim01" />

<!-- NODE RATE -->
    <param name="rate" value="200" />

<!-- MQTT BRIDGE -->
    <include file="$(find mqtt_ros_bridge)/launch/imu_bridge.launch" />

<!-- IMU COMPLEMANTARY FILTER -->
    <node name="imu_complementary_filter" pkg="imu_complementary_filter" type="complementary_filter_node"/> 

    <node name="rad2deg" pkg="gb_control" type="rad2deg.py" />

    <node name="attitude2body_vel" pkg="gb_control" type="attitude2body_vel.py">
    	<param name="gb_control_type" value="attitude" />
    </node>

<!--	 <node name="human_influence" pkg="gb_control" type="human_influence.py" /> -->
</launch>
