<launch>

<!-- remember to launch mosquitto and to connect the smartphone prior to launch this -->

<!-- ROBOT NAME --> 
    <param name="robot_name" value="sim01" />

<!-- MIRO GAZEBO_ROS -->
    <include file="$(find miro)/launch/miro_gazebo_ros.launch" />

<!-- GESTURE BASED -->
    <include file="$(find gb_control)/launch/gb_control.launch" />

<!-- GESTURE BASED -->
    <include file="$(find miro)/launch/obstacle_avoidance_to_coordination.launch" />

<!-- COORDINATION-->
    <node name="coordination" pkg="coordination" type="coordination.py"/> 

</launch>
