<launch>

<!-- remember to launch mosquitto and to connect the smartphone prior to launch this -->

<!-- ROBOT TO BE USED --> 
<!-- Choose if you want to use a simulated robot (sim01) in gazebo or the real miro (rob01) -->
    <param name="/robot_name" value="sim01" />

<!-- NODE RATE -->
    <param name="rate" value="200" />

<!-- MIRO GAZEBO_ROS -->
<!-- if the simulated robot sim01 has benn chosen, launch gazebo simulation with miro
 and enough space to manouver -->  
    <include file="$(find miro_gazebo_ros)/launch/miro_gazebo_ros.launch" />

<!-- GESTURE BASED BEHAVIOUR -->
<!-- Choose wich kind of control you want to use with the smartwatch -->
    <include file="$(find gb_control)/launch/gb_control.launch" />

<!-- OBSTACLE AVOIDANCE BEHAVIOUR -->
    <include file="$(find miro_oa_behaviour)/launch/obstacle_avoidance_to_coordination.launch" />

<!-- COORDINATION-->
    <node name="coordination" pkg="coordination" type="coordination.py"  /> 

<!-- IS SMARTWATCH PUBLISHING  --> 
    <node name="sw_is_pub" pkg="coordination" type="sw_is_pub.py" />
</launch>
