<launch>
<!-- ROBOT NAME --> 
    <param name="robot_name" value="sim01" />

<!-- OBSTACLE BEHAVIOUR NODES --> 

    <!-- CHECK OBSTACLE SAFETY -->
    <node name="check_obstacle_safety" pkg="miro_oa_behaviour" type="check_obstacle_safety.py" />
    
    <!-- NEW OBSTACLE DETECTION -->
    <node name ="new_obstacle_detection" pkg="miro_oa_behaviour" type="new_obstacle_detection.py" />

    <!-- ODOMETRY PUBLISHER -->
    <node name="odometry_publisher" pkg="miro_oa_behaviour" type="odometry_publisher.py" />

    <!-- OBSTACLE AVOIDANCE TO MIRO -->
    <node name="obstacle_avoidance" pkg="miro_oa_behaviour" type="obstacle_avoidance_to_miro.py" > 
      <param name="drive_pattern" value="obstacle_avoidance" />
      <param name="x_threshold" value="0.2" />
      <param name="y_threshold" value="0.05" />
      <param name="th_threshold_first_rotation" value="0.05" />
      <param name="K_first_rotation" value="1" />
      <param name="d_ref_wall_following" value="0.5" />
      <param name="K_wall_following" value="1" />
      <param name="v_wall_following" value="100" />
    </node>

<!-- RVIZ VISUALIZATION -->
    <node name="rviz" pkg="rviz" type="rviz" 
    args="-d $(find miro_oa_behaviour)/rviz/miro_obstacle_avoidance.rviz" />

</launch>
