<launch>
<!-- ROBOT NAME --> 
    <param name="robot_name" value="sim01" />

<!-- OBSTACLE BEHAVIOUR NODES --> 
    <node name="check_obstacle_safety_with_parameters" pkg="miro" type="check_obstacle_safety_with_parameters.py" />
    
    <node name ="new_obstacle_detection_only_flags" pkg="miro" type="new_obstacle_detection_only_flags.py" />

    <node name="odometry_publisher_with_parameters" pkg="miro" type="odometry_publisher_with_parameters.py" />

    <node name="obstacle_avoidance_with_parameters" pkg="miro" type="obstacle_avoidance_with_parameters_to_miro_plat_ctr.py" > 
      <param name="drive_pattern" value="obstacle_avoidance" />
      <param name="x_threshold" value="0.2" />
      <param name="y_threshold" value="0.05" />
      <param name="th_threshold_first_rotation" value="0.05" />
      <param name="K_first_rotation" value="1" />
      <param name="d_ref_wall_following" value="0.5" />
      <param name="K_wall_following" value="1" />
      <param name="v_wall_following" value="100" />
    </node>

<!-- RVIZ VISUALIZATION -->
    <node name="rviz" pkg="rviz" type="rviz" 
    args="-d $(find miro)/rviz/miro_obstacle_avoidance.rviz" />

<!-- RQT PLOT ROBOT POSITION FROM ODOMETRY -->
    <node name="rqt_plot_position" pkg="rqt_plot" type="rqt_plot"
    args="/odom/pose/pose/position" />

</launch>
